.banner_body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  
  
}
.banner{
   
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.85);
   
    
}

.banner_pic {
    width: 100%;
    max-width: 400px;
   height: auto;
   
    margin: auto;
    padding: 20px;
    padding-bottom: 40px;
   
   
   
    
   
   
} .banner_body > h1 {
    font-size: 3vw;
    padding: 10px;
   font-weight: 600;
    margin: auto;
    padding-bottom: 40px;
     
}
.banner__button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.5vw;
    margin-right: 1rem;
    padding: 0.5rem 2rem;
    margin-left: 30px;
    margin-top: -270px;
   
    background-color: rgba(216, 21, 21, 0.5);
   
}
